body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: black;
	font-size: 62.5%;
}

header {
	background-color: #ddd;
	font-size: 1.6em;
	
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

#peytonmanning {
	margin-top: 5;
	background-color: #0000FF;
	box-shadow: 5px 10px;
}

#robertmathis {
	margin-top: 0;
	background-color: #0000FF;
	box-shadow: 5px 10px;
}

#marvinharrison {
	margin-top: 0;
	background-color: #0000FF;
	box-shadow: 5px 10px;
}

#andrewluck {
	margin-top: 0;
	background-color: #0000FF;
	box-shadow: 5px 10px;
}

#reggiemiller {
	margin-top: 0;
	background-color: #DAA520;
	box-shadow: 5px 10px;
}

#sachintendulkar {
	margin-bottom: 5;
	background-color: #1E90FF;
	box-shadow: 5px 10px;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 5;
	padding: 5;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
}

