body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #2F4F4F;
	font-size: 85%;
}

header {
	background-color: #FAEBD7;
	font-size: 1.6em;
	text-align: center;
	padding: 1.875em 0;
	font-style: italic;
	border: 4px solid black;
        border-radius: 7px;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

#peytonmanning {
	margin-top: 5;
	background-color: #0000FF;
	box-shadow: 10px 20px antiquewhite;
	text-align: center;
	color: white;
	border: 4px solid white;
        border-radius: 7px;
}

#robertmathis {
	margin-top: 0;
	background-color: #0000FF;
	box-shadow: 10px 20px antiquewhite;
	text-align: center;
	color: white;
        border: 4px solid white;
        border-radius: 7px;
}

#marvinharrison {
	margin-top: 0;
	background-color: #0000FF;
	box-shadow: 10px 20px antiquewhite;
	text-align: center;
	color: white;
	border: 4px solid white;
        border-radius: 7px;
}

#andrewluck {
	margin-top: 0;
	background-color: #0000FF;
	box-shadow: 10px 20px antiquewhite;
	text-align: center;
	color: white;
	border: 4px solid white;
        border-radius: 7px;
}

#reggiemiller {
	margin-top: 0;
	background-color: #DAA520;
	box-shadow: 10px 20px navy;
	text-align: center;
	border: 4px solid black;
        border-radius: 7px;
}

#sachintendulkar {
	margin-bottom: 5;
	background-color: #1E90FF;
	box-shadow: 10px 20px darkorange;
	text-align: center;
	border: 4px solid black;
        border-radius: 7px;
}

nav {
	text-align: center;
	padding: 0;
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 5;
	padding: 5;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
	font-style: italic;
}

footer p {
	display: inline-block;
}

img {
	width: 90%;
	height: 90%
	max-width: 100%;
}

